
@use './base';
@use './abstract' as *;


// ACCESSIBILITY STYLES ***********************************

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; 
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important; 
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important; 
}

// END OF ACCESSIBILITY STYLES ***********************************

// START OF ELEMENT SELECTOR STYLES ***********************************
body {
	background-color: $main-bg;
	font-family: $main-font-family;

	@include breakpoint(desktop) {
		display: grid;
		place-items: center;
	}

}

main {
	margin-block-start: 5rem;
	display: grid;
	row-gap: 1.5rem;
	padding-inline: 1.5rem;
	max-width: 60rem;

	@include breakpoint(desktop) {
		grid-template-columns: 25% 85%;
		column-gap: 1.875rem;
	}
}

.user-info {
	background-color: $card-bg;
	border-radius: $main-border-radius;
}
// END OF ELEMENT SELECTOR STYLES ***********************************


// START PROFILE STYLES ****************************************
.profile {
	background: $profile-bg;
	display: flex;
	align-items: center;
	gap: 20px;
	width: 100%;
	padding-inline: 2rem;
	padding-block: 2.1875rem;
	border-radius: $main-border-radius;

	@include breakpoint(desktop) {
		flex-direction: column;
		align-items: flex-start;
		padding-block-end: 5rem;
	}

	
	
	img {
		width: 64px;
		height: 64px;
		border: 3px solid #fff;
		border-radius: 50%;

		@include breakpoint(desktop) {
			width: 78px;
			height: 78px;
		}
	}

	&__content {


		span {
			color: $pale-blue;
			font-size: 0.9375rem;
		}

		h2 {
			font-size: 1.5rem;
			color: $white;
			font-weight: $fw-300;

			@include breakpoint(desktop) {
				font-size: 2.5rem;
				line-height: 1.2;
			}
		}
	}
}
// END PROFILE STYLES ****************************************

// START TABLIST STYLES ****************************************

ul[role="tablist"] {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	margin: 0;
	padding-block: 1.5rem;

	@include breakpoint(desktop) {
		flex-direction: column;
		align-items: flex-start;
		padding-inline-start: 2rem;
		gap: 1.25rem;
	}

	li a[role="tab"] {

		&:link, &:active, 
		&:visited {
			color: $clr-time-frame;
			text-decoration: none;
			font-size: 1.125rem;
		}

		&:hover {
			color: $white;
		}

		&[aria-selected="true"] {
			color: $white;
		}
		
	}
}

// END TABLIST STYLES ****************************************


// START TAB PANEL STYLES ****************************************
	

// END TAB PANEL STYLES ****************************************

// START CARDS STYLES ****************************************
.cards {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 1.5rem;
		list-style:none;
		padding: 0;
		margin: 0;

		@include breakpoint(tablet) {
			grid-template-columns: 1fr 1fr 1fr;
			column-gap: 1.875rem;
		}
}

.card {
	position: relative;
	padding-block-start: 2.5rem;
	overflow: hidden;

	


	&::before {
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 50%;
		display: block;
		z-index: 1;
		position: absolute;
		border-radius: $main-border-radius;
	}

	.img {
		position: absolute;
		right: 1rem;
		z-index: 2;
	}


	&.work {
		&::before {
			background-color: $clr-work;
		}

		.img {
			bottom: 7.3rem;

			@include breakpoint(desktop) {
				bottom: 11.3rem;
			}
		}
	}
	&.play {
		&::before {
			background-color: $clr-play;
		}

		.img {
			bottom: 7.3rem;

			@include breakpoint(desktop) {
				bottom: 11.3rem;
			}
		}
	}
	&.study {
		&::before {
			background-color: $clr-study;
		}

		.img {
			bottom: 7rem;

			@include breakpoint(desktop) {
				bottom: 11rem;
			}
		}
	}
	&.exercise {
		&::before {
			background-color: $clr-exercise;
		}

		.img {
			bottom: 8.3rem;

			@include breakpoint(desktop) {
				bottom: 12.3rem;
			}
		}
	}
	&.social {
		&::before {
			background-color: $clr-social;
		}

		.img {
			bottom: 6.2rem;

			@include breakpoint(desktop) {
				bottom: 10.2rem;
			}
		}
	}
	&.selfcare {
		&::before {
			background-color: $clr-selfcare;
		}

		.img {
			bottom: 8rem;

			@include breakpoint(desktop) {
				bottom: 12rem;
			}
		}
	
	}
	
	&__content {
		background-color: $card-bg;
		position: relative;
		z-index: 3;
		border-radius: $main-border-radius;
		padding-inline: 1.5rem;
		padding-block: 1.75rem;
		color: $white;

		@include breakpoint(desktop) {
			padding-inline: 1.875rem;
			padding-block: 2rem;
		}
	
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

			.card__heading {
			a {
				text-decoration: none;
				font-size: 1.125rem;
				font-weight: $fw-500;
				color: inherit;
			}
		}
		
		.more-info__btn {
			border: none;
			background-color: transparent;
			justify-self: end;
		}
	}

	
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include breakpoint(tablet) {
			flex-direction: column;
			align-items: flex-start;
		}

		
	.current {
			font-size: 2rem;
			font-weight: $fw-300;

			@include breakpoint(desktop) {
				font-size: 3.5rem;
			}

			
		}

		.previous__time-info {
			color: $pale-blue;
			font-size: 0.9375rem;
		}
	}
	}

	



// END CARDS STYLES ****************************************

