
@use './base';
@use './abstract' as *;


// ACCESSIBILITY STYLES ***********************************

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; 
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important; 
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important; 
}

// END OF ACCESSIBILITY STYLES ***********************************

// START OF ELEMENT SELECTOR STYLES ***********************************
body {
	background-color: $main-bg;
	font-family: $main-font-family;
	display: grid;
	place-items: center;
}

main {
	margin-block: 5rem;
	display: grid;
	row-gap: 1.5rem;
}

.user-info {
	background-color: $card-bg;
	border-radius: $main-border-radius;
}
// END OF ELEMENT SELECTOR STYLES ***********************************


// START PROFILE STYLES ****************************************
.profile {
	background: $profile-bg;
	display: flex;
	align-items: center;
	gap: 20px;
	width: 100%;
	padding-inline: 2rem;
	padding-block: 2.1875rem;
	border-radius: $main-border-radius;
	
	img {
		width: 64px;
		height: 64px;
		border: 3px solid #fff;
		border-radius: 50%;
	}

	&__content {
		span {
			color: $pale-blue;
			font-size: 0.9375rem;
		}

		h2 {
			font-size: 1.5rem;
			color: $white;
			font-weight: $fw-300;
		}
	}
}
// END PROFILE STYLES ****************************************

// START TABLIST STYLES ****************************************

ul[role="tablist"] {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	margin: 0;
	padding-block: 1.5rem;

	li a[role="tab"] {

		&:link, &:active, 
		&:visited {
			color: $clr-time-frame;
			text-decoration: none;
			font-size: 1.125rem;
		}

		&:hover {
			color: $white;
		}
		
	}
}

// END TABLIST STYLES ****************************************


// START TAB PANEL STYLES ****************************************
	section[role="tabpanel"] {
		
	}

// END TAB PANEL STYLES ****************************************

// START CARDS STYLES ****************************************
.cards {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 1.5rem;
		list-style:none;
		padding: 0;
		margin: 0;
}

.card {
	position: relative;
	padding-block-start: 2.5rem;
	overflow: hidden;

	&::before {
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 50%;
		display: block;
		z-index: 1;
		position: absolute;
		border-radius: $main-border-radius;
	}

	.img {
		position: absolute;
		right: 1rem;
		z-index: 2;
	}


	&.work {
		&::before {
			background-color: $clr-work;
		}

		.img {
			bottom: 7.3rem;
		}
	}
	&.play {
		&::before {
			background-color: $clr-play;
		}

		.img {
			bottom: 7.3rem;
		}
	}
	&.study {
		&::before {
			background-color: $clr-study;
		}

		.img {
			bottom: 7rem;
		}
	}
	&.exercise {
		&::before {
			background-color: $clr-exercise;
		}

		.img {
			bottom: 8.3rem;
		}
	}
	&.social {
		&::before {
			background-color: $clr-social;
		}

		.img {
			bottom: 6.2rem;
		}
	}
	&.selfcare {
		&::before {
			background-color: $clr-selfcare;
		}

		.img {
			bottom: 8rem;
		}
	
	}
	
	
	

	
	.text {
		background-color: $card-bg;
		position: relative;
		z-index: 3;
		border-radius: $main-border-radius;
		padding-inline: 1.5rem;
		padding-block: 1.75rem;
		color: $white;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		row-gap: 6px;

		.card__heading {
			a {
				text-decoration: none;
				font-size: 1.125rem;
				font-weight: $fw-500;
				color: inherit;
			}
		}
		
		.more-info__btn {
			border: none;
			background-color: transparent;
			justify-self: end;
		}

		.current {
			font-size: 2rem;
			font-weight: $fw-300;
		}

		.previous {
			color: $pale-blue;
			font-size: 0.9375rem;
		}
	}
}



// END CARDS STYLES ****************************************

