/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #0E1323;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
  padding-inline: 1.5rem;
  padding-block: 5rem;
  max-width: 65rem;
  min-height: 44.5rem;
}
@media only screen and (min-width: 64em) {
  .main {
    grid-template-columns: 1fr auto;
    column-gap: 1.875rem;
  }
}

.side-bar {
  background-color: #1C204B;
  border-radius: 15px;
}
.side-bar .profile-content {
  background-color: #5747EA;
  border-radius: 15px;
  display: flex;
  padding-inline: 2rem;
  padding-block: 2.5rem;
  align-items: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}
@media only screen and (min-width: 64em) {
  .side-bar .profile-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.25rem;
    padding-block-end: 5rem;
  }
}
.side-bar .profile-content span {
  color: #bbc0ff;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1;
}
.side-bar .profile-content h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}
@media only screen and (min-width: 64em) {
  .side-bar .profile-content h3 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}
.side-bar .profile-content img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 3px solid #fff;
}
.side-bar .time-frames {
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 1.5rem;
}
@media only screen and (min-width: 64em) {
  .side-bar .time-frames {
    flex-direction: column;
    align-items: flex-start;
    padding-inline-start: 2rem;
    gap: 1.5rem;
  }
}
.side-bar .time-frames .time-frame input {
  display: none;
}
.side-bar .time-frames .time-frame input:checked + label {
  color: #fff;
}
.side-bar .time-frames .time-frame label {
  cursor: pointer;
  color: #7078C9;
  transition: color 0.25s ease-in-out;
}
.side-bar .time-frames .time-frame label:hover {
  color: #fff;
}
.side-bar .time-categories {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding-block: 1.5rem;
}
@media only screen and (min-width: 64em) {
  .side-bar .time-categories {
    flex-direction: column;
    align-items: flex-start;
    padding-inline-start: 2rem;
    gap: 1.5rem;
  }
}
.side-bar .time-categories li button {
  border: none;
  background-color: transparent;
  color: #7078C9;
  font-size: 1.125rem;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}
.side-bar .time-categories li button.btn-timeframe.active {
  color: #fff;
}
.side-bar .time-categories li button:hover {
  color: #fff;
}

.timesheet {
  margin-block-start: 1.5rem;
}
@media only screen and (min-width: 64em) {
  .timesheet {
    margin-block-start: 0;
  }
}
.timesheet .list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4.5rem;
}
@media only screen and (min-width: 48em) {
  .timesheet .list {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.875rem;
  }
}
.timesheet .list-item {
  color: #fff;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: right 5% top -5%;
}
.timesheet .list-item .container {
  transform: translateY(40px);
  padding-inline: 1.5rem;
  background-color: #1C204B;
  border-radius: 15px;
  padding-block: 1.65rem;
  cursor: pointer;
}
@media only screen and (min-width: 64em) {
  .timesheet .list-item .container {
    padding-inline: 1.875rem;
    padding-block: 2rem;
  }
}
.timesheet .list-item .container:hover {
  background-color: #33397A;
}
.timesheet .list-item .container .btn__ellipsis:hover svg path {
  fill: #fff;
}
.timesheet .list-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.timesheet .list-item__header .title {
  font-size: 1.125rem;
  font-weight: 500;
}
.timesheet .list-item__header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}
.timesheet .list-item__header button:hover {
  color: #fff;
}
.timesheet .list-item__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 48em) {
  .timesheet .list-item__content {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 64em) {
  .timesheet .list-item__content {
    margin-block-start: 1.5rem;
  }
}
.timesheet .list-item .current {
  font-size: 2rem;
  font-weight: 300;
}
@media only screen and (min-width: 64em) {
  .timesheet .list-item .current {
    font-size: 3.5rem;
  }
}
.timesheet .list-item .previously {
  color: #bbc0ff;
  font-size: 0.9375rem;
}
.timesheet .list-item.work {
  background-color: #FF8B64;
  background-image: url("/images/icon-work.svg");
}
.timesheet .list-item.play {
  background-color: #55C2E6;
  background-image: url("/images/icon-play.svg");
}
.timesheet .list-item.study {
  background-color: #FF5E7D;
  background-image: url("/images/icon-study.svg");
}
.timesheet .list-item.exercise {
  background-color: #4BCF82;
  background-image: url("/images/icon-exercise.svg");
}
.timesheet .list-item.social {
  background-color: #7335D2;
  background-image: url("/images/icon-social.svg");
}
.timesheet .list-item.selfcare {
  background-color: #F1C75B;
  background-image: url("/images/icon-self-care.svg");
}

/*# sourceMappingURL=style.css.map */
