
$profile-bg: #5747EA;

$clr-work: #FF8B64;
$clr-play:#55C2E6;
$clr-study: #FF5E7D;
$clr-exercise: #4BCF82;
$clr-social: #7335D2;
$clr-selfcare: #F1C75B;

$main-bg: #0E1323;

$card-bg: #1C204B;
$clr-time-category: #7078C9;
$pale-blue: #bbc0ff;
$white: #fff;

$main-border-radius: 15px;


$main-font-family: 'Rubik', sans-serif;

$fs-card-title: 1.125rem;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;