.card__photo-container {
  position: absolute;
  top: 0;
  right: 20px;
}




.card__content {
  background-color: var(--neutral-color-2);
  padding-inline: 2rem;
  padding-block: 2rem;
  border-radius: 12px;
  position: relative;
}

.card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: var(--fs-card-titles);
  color: #fff;
}

.card__current-time {
  font-size: 2rem;
  color: #fff;
  font-weight: var(--fw-300);
}

.card__previous-stat {
  color: var(--neutral-color-4);
}


/* DYNAMIC STYLING */
.work__container {
  background-color: var(--primary-color-work);
  border-radius: 12px;
  overflow: hidden;
  padding-block-start: 3rem;
  position: relative;
}

.play__container {
  background-color: var(--primary-color-play);
  border-radius: 12px;
  overflow: hidden;
  padding-block-start: 3rem;
  position: relative;
}

.study__container {
  background-color: var(--primary-color-study);
  border-radius: 12px;
  overflow: hidden;
  padding-block-start: 3rem;
  position: relative;
}

.exercise__container {
  background-color: var(--primary-color-exercise);
  border-radius: 12px;
  overflow: hidden;
  padding-block-start: 3rem;
  position: relative;
}

.social__container {
  background-color: var(--primary-color-social);
  border-radius: 12px;
  overflow: hidden;
  padding-block-start: 3rem;
  position: relative;
}

.selfcare__container {
  background-color: var(--primary-color-self-care);
  border-radius: 12px;
  overflow: hidden;
  padding-block-start: 3rem;
  position: relative;
}