.card__photo-container {
  display: flex;
  justify-content: flex-end;
  padding-inline: 1rem;
}

.card__photo-container svg {
  height: 3rem
}


.card__content {
  background-color: var(--neutral-color-2);
  padding-inline: 2rem;
  padding-block: 2rem;
  border-radius: 12px;
}

.card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: var(--fs-card-titles);
  color: #fff;
}

.card__current-time {
  font-size: 2rem;
  color: #fff;
  font-weight: var(--fw-300);
}

.card__previous-stat {
  color: var(--neutral-color-4);
}


/* DYNAMIC STYLING */
.work__container {
  background-color: var(--primary-color-work);
  border-radius: 12px;
  overflow: hidden;
}

.play__container {
  background-color: var(--primary-color-play);
  border-radius: 12px;
  overflow: hidden;
}

.study__container {
  background-color: var(--primary-color-study);
  border-radius: 12px;
  overflow: hidden;
}

.exercise__container {
  background-color: var(--primary-color-exercise);
  border-radius: 12px;
  overflow: hidden;
}

.social__container {
  background-color: var(--primary-color-social);
  border-radius: 12px;
  overflow: hidden;
}

.selfcare__container {
  background-color: var(--primary-color-self-care);
  border-radius: 12px;
  overflow: hidden;
}