.main {
  padding-inline: 1rem;
  padding-block: 5rem;
}

.user__section {
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--neutral-color-2);

}

.user__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary-color-1);
  padding-inline: 2rem;
  padding-block: 2rem;
  border-radius: 12px;
}

.user__photo {
  width: 5rem;
  height: 5rem;
  border: 3px solid #fff;
  border-radius: 100px;
}

.user__profile p {
  color: var(--neutral-color-4);

}

.user__name {
  color: #fff;
  font-weight: var(--fw-300);
}

.nav {
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  padding-block: 1rem;
}

.nav__list li button {
  background-color: var(--neutral-color-2);
  color: var(--neutral-color-4);
  border: none;
  cursor: pointer;
  transition: color .2s;
}

.nav__list li button:hover {
  color: #fff;
}