.main {
  padding-inline: 1rem;
  padding-block: 5rem;
}

.user__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary-color-1);
  padding-inline: 2rem;
  padding-block: 2rem;
  border-radius: 8px;
}

.user__photo {
  width: 5rem;
  height: 5rem;
  border: 3px solid #fff;
  border-radius: 100px;
}

.user__profile p {
  color: var(--neutral-color-4);

}

.user__name {
  color: #fff;
  font-weight: var(--fw-300);
}

.nav {
  background-color: var(--neutral-color-2);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  padding-block: 1rem;
}