*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Rubik', sans-serif;
  background-color: var(--neutral-color-1);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {

  --primary-color-1: hsl(246, 80%, 60%);

  --primary-color-work: hsl(15, 100%, 70%);
  --primary-color-play: hsl(195, 74%, 62%);
  --primary-color-study: hsl(348, 100%, 68%);
  --primary-color-exercise: hsl(145, 58%, 55%);
  --primary-color-exercise: hsl(264, 64%, 52%);
  --primary-color-self-care: hsl(43, 84%, 65%);

  --neutral-color-1: hsl(226, 43%, 10%);
  --neutral-color-2: hsl(235, 46%, 20%);
  --neutral-color-3: hsl(235, 45%, 61%);
  --neutral-color-4: hsl(236, 100%, 87%);

  --fs-card-titles: 1.125rem;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
}